In [2]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
style.use('ggplot')

In [3]:
start=dt.datetime(2000,1,1)
end = dt.datetime(2016,12,31)
df = web.DataReader('TSLA', 'yahoo', start, end)

In [4]:
#first five
print(df.head())

                 Open   High        Low      Close    Volume  Adj Close
Date
2010-06-29  19.000000  25.00  17.540001  23.889999  18766300  23.889999
2010-06-30  25.790001  30.42  23.299999  23.830000  17187100  23.830000
2010-07-01  25.000000  25.92  20.270000  21.959999   8218800  21.959999
2010-07-02  23.000000  23.10  18.709999  19.200001   5139800  19.200001
2010-07-06  20.000000  20.00  15.830000  16.110001   6866900  16.110001

In [5]:
print(df.tail(6))

                  Open        High         Low       Close   Volume  \
Date
2016-12-22  208.220001  209.990005  206.500000  208.449997  3106900
2016-12-23  208.000000  213.449997  207.710007  213.339996  4662900
2016-12-27  214.880005  222.250000  214.419998  219.529999  5901400
2016-12-28  221.529999  223.800003  217.199997  219.740005  3766900
2016-12-29  218.559998  219.199997  214.119995  214.679993  4035900
2016-12-30  216.300003  217.500000  211.679993  213.690002  4632700

             Adj Close
Date
2016-12-22  208.449997
2016-12-23  213.339996
2016-12-27  219.529999
2016-12-28  219.740005
2016-12-29  214.679993
2016-12-30  213.690002